<div class="test-config mdl-card mdl-shadow--2dp">
    <div id="url-container"{{#if hasParameters}} class="parametered"{{/if}}>
        {{> materialInput tag="span" id="url" label="URL" value=config.url.href type="text" fullWidth=true}}
        {{#if hasParameters}}
        <label id="query-parameter-switcher" class="mdl-icon-toggle mdl-js-icon-toggle mdl-js-ripple-effect" for="query-parameter">
            <input type="checkbox" id="query-parameter" class="mdl-icon-toggle__input" />
            <i class="mdl-icon-toggle__label material-icons"><em class="icon-tune"></em></i>
        </label>
        <div class="mdl-tooltip" for="query-parameter-switcher">show parameters</div>
        {{/if}}
    </div>
    <div id="query-parameters-container">
        <ul class="query-parameters">
            {{~#each config.url.queryParameters~}}
            <li class="parameter mdlext-label mdl-color--grey-200 mdl-color-text--grey-900">
                <span class="key">{{key}}</span>{{#if value}}<span class="value">{{value}}</span>{{/if}}
            </li>
            {{~/each~}}
            {{~#each config.cookies~}}
            <li class="cookie mdlext-label mdl-color--teal-50 mdl-color-text--teal-900">
                <span class="key">{{name}}</span>{{#if value}}<span class="value">{{value}}</span>{{/if}}
            </li>
            {{~/each~}}
        </ul>
    </div>
    {{#if isNewTest}}
    <div class="cookies-container">
        {{> cookieInput index=1 disabled=true}}
        <button id="new-cookie" class="mdl-button mdl-js-button mdl-button--icon mdl-color-text--green-500">
            <i class="icon-add"></i>
        </button>
        <span class="mdl-tooltip" for="new-cookie">add cookie</span>
    </div>
    {{/if}}
    {{> materialInput tag="div" id="browser-width" label="Screen width" value=config.browserWidth type="number" fullWidth=true maxlength=4 min=0}}
    {{> materialInput tag="div" id="browser-height" label="Screen height" value=config.browserHeight type="number" fullWidth=true maxlength=4 min=0}}
    <div id="browser-selector">
        {{#each browsers}}
        <label class="mdl-icon-toggle mdl-js-icon-toggle mdl-js-ripple-effect" for="option-{{@index}}" id="browser-{{@index}}">
            <input type="checkbox" id="option-{{@index}}" class="mdl-icon-toggle__input" name="browser" value="{{value}}" {{#if selected}}checked{{/if}} />
            <i class="mdl-icon-toggle__label material-icons"><em class="icon-{{iconname}}"></em></i>
        </label>
        <div class="mdl-tooltip" for="browser-{{@index}}">{{name}}</div>
        {{/each}}
    </div>

    {{#if isNewTest}}
    {{> materialInput tag="div" id="labels" label="Labels" value=labels type="text" fullWidth=true tagsInput=true}}
    {{else if labels}}
    {{> materialInput tag="div" id="labels" label="Labels" value=labels type="text" fullWidth=true tagsInput=true disabled=true}}
    {{/if}}

    {{#if isNewTest}}
    <button id="add-test" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-shadow--4dp mdl-color--green">
        <i class="icon-add"></i>
    </button>
    <div class="mdl-tooltip" for="add-test">Add</div>
    {{/if}}
</div>
