<div class="test-config mdl-card mdl-shadow--2dp">
    <div id="url-container"{{#if config.url.queryParameters}} class="parametered"{{/if}}>
        <span class="url mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-textfield--full-width" title="{{config.url.href}}">
            <input class="mdl-textfield__input" type="text" id="url" value="{{config.url.href}}" />
            <label class="mdl-textfield__label" for="url">URL</label>
        </span>
        {{#if config.url.queryParameters}}
        <label id="query-parameter-switcher" class="mdl-icon-toggle mdl-js-icon-toggle mdl-js-ripple-effect" for="query-parameter">
            <input type="checkbox" id="query-parameter" class="mdl-icon-toggle__input" />
            <i class="mdl-icon-toggle__label material-icons"><em class="icon-tune"></em></i>
        </label>
        <div class="mdl-tooltip" for="query-parameter-switcher">show parameters</div>
        {{/if}}
    </div>
    <div id="query-parameters-container">
        <ul class="query-parameters">
            {{~#each config.url.queryParameters~}}
            <li class="parameter mdl-color--grey-200">
                <span><b>{{key}}</b>&nbsp;{{value}}</span>
            </li>
            {{~/each~}}
            {{~#each config.cookies~}}
            <li class="cookie mdl-color--teal-50">
                <span><b>{{name}}</b>&nbsp;{{value}}</span>
            </li>
            {{~/each~}}
        </ul>
    </div>
    {{#if isNewTest}}
    <div class="cookies-container">
        {{> cookieInput index="1" hidden=true}}
        <button id="new-cookie" class="mdl-button mdl-js-button mdl-button--icon mdl-color-text--green-500">
            <i class="icon-add"></i>
        </button>
        <span class="mdl-tooltip" for="new-cookie">add cookie</span>
    </div>
    {{/if}}
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-textfield--full-width">
        <input class="mdl-textfield__input" type="number" id="browser-width" value="{{config.browserWidth}}" maxlength="4" min="0" />
        <label class="mdl-textfield__label" for="browser-width">Screen width</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-textfield--full-width">
        <input class="mdl-textfield__input" type="number" id="browser-height" value="{{config.browserHeight}}" maxlength="4" min="0" />
        <label class="mdl-textfield__label" for="browser-height">Screen height</label>
    </div>
    <div id="browser-selector">
        {{#each browsers}}
        <label class="mdl-icon-toggle mdl-js-icon-toggle mdl-js-ripple-effect" for="option-{{@index}}" id="browser-{{@index}}">
            <input type="checkbox" id="option-{{@index}}" class="mdl-icon-toggle__input" name="browser" value="{{value}}" {{#if selected}}checked{{/if}} />
            <i class="mdl-icon-toggle__label material-icons"><em class="icon-{{iconname}}"></em></i>
        </label>
        <div class="mdl-tooltip" for="browser-{{@index}}">{{name}}</div>
        {{/each}}
    </div>
    <button id="add-test" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-shadow--4dp mdl-color--green">
        <i class="icon-add"></i>
    </button>
    <div class="mdl-tooltip" for="add-test">Add</div>
</div>
