<li class="request clearfix text-center">
    <a href="#" class="message"><h4>{{message}}</h4></a>
    <div class="content clearfix">
        {{#each inputs}}
            <input placeholder="{{name}}" name="{{name}}" type="text" value="{{value}}" class="{{additionalClasses}}">
        {{/each}}
        <button type="button" class="submit btn btn-default btn-raised pull-right">SUBMIT</button>
    </div>
</li>
