<li class="request get {{additionalClasses}} clearfix">
    <a href="#" class="message"><h4>{{message}}</h4></a>
    <div class="content">
        {{#each inputs}}
            <input placeholder="{{name}}" name="{{name}}" type="text" value="{{value}}" class="{{additionalClasses}}">
        {{/each}}
        <button type="button" class="submit btn pull-right">SUBMIT</button>
    </div>
</li>
