<div class="request">
    <h6 class="message">{{message}}</h6>
    <div class="content">
        {{#each inputs}}
            <div class="mdl-textfield mdl-js-textfield">
                <input id="{{name}}" placeholder="{{name}}" name="{{name}}" type="text" value="{{value}}" class="mdl-textfield__input">
                <label for="{{name}}" class="mdl-textfield__label">{{name}}</label>
            </div>
        {{/each}}
        <button type="button" class="submit mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">SUBMIT</button>
    </div>
</div>
