{{#if error}}
    <div class="alert alert-danger">
      <strong>Oh snap!</strong> {{error}}
    </div>
{{else}} {{#if info}}
    <div class="alert alert-info">{{info}}</div>
{{else}}
    <div class="well">
        {{#if screenshot}}
            <img src="{{screenshot}}">
        {{/if}}
        <pre>{{content}}</pre>
    </div>
{{/if}}{{/if}}

