{{#if error}}
    <div class="alert alert-danger">
      <strong>Oh snap!</strong> {{error}}
    </div>
{{else}}
    {{#if info}}
        <div class="alert alert-info">{{info}}</div>
    {{else}}
        {{#if screenshot}}
        <div class="screenshot pull-right col-md-3 text-center">
            <img class="thumbnail" src="{{screenshot}}">
        </div>
        {{/if}}

        <div class="panel panel-primary">
            <div class="panel-heading">{{title}}{{#if badge}} <span class="badge">{{badge}}</span>{{/if}}</div>
            <div class="panel-body">
                <div class="code">{{content}}</div>
            </div>
        </div>
    {{/if}}
{{/if}}

