{{#if this.length}}
    <div class="list-group">
    {{#each this}}
        <div class="list-group-item" id="diff{{@index}}" data-diff-index="{{@index}}">
            {{#if a}}
                <div class="row-action-primary"><i{{#if deleteA}} class="delete"{{/if}}>A</i></div>
                <div class="row-content">
                    <dl>
                        <dt>name:</dt><dd>{{a.name}}</dd>
                        <dt>path:</dt><dd>{{a.path}}</dd>
                        <dt>offset:</dt><dd> top: {{a.offset.top}} / left: {{a.offset.left}} / width: {{a.offset.width}} / height: {{a.offset.height}}</dd>
                    </dl>
                </div>
            {{/if}}
            {{#if b}}
                <div class="row-action-primary"><i{{#if deleteB}} class="delete"{{/if}}>B</i></div>
                <div class="row-content">
                    <dl>
                        <dt>name:</dt><dd>{{b.name}}</dd>
                        <dt>path:</dt><dd>{{b.path}}</dd>
                        <dt>offset:</dt><dd> top: {{b.offset.top}} / left: {{b.offset.left}} / width: {{b.offset.width}} / height: {{b.offset.height}}</dd>
                    </dl>
                </div>
            {{/if}}
            <div class="meta-content">
            {{#if aHasCopy}}
                <button class="btn btn-primary btn-xs" data-diff-target="{{aHasCopy}}">Copy of #{{aHasCopy}}B</button>
            {{/if}}
            {{#if bHasCopy}}
                <button class="btn btn-primary btn-xs" data-diff-target="{{bHasCopy}}">Copy of #{{bHasCopy}}A</button>
            {{/if}}
                <div class="diffs">
                {{#each differences}}
                    <span class="label label-default">{{this}}</span>
                {{/each}}
                </div>
            </div>
        </div>
    {{/each}}
    </div>
{{else}}
    <div class="mdl-color--green mdl-color-text--white mdl-typography--display-3 mdl-typography--text-center">
        <i class="icon-done"></i>
        <p class="mdl-typography--display-1">There is no difference</p>
    </div>
{{/if}}

