    <div class="mdl-layout__header-row">

        <h2 class="mdl-layout-title">
            <a href="/" class="mdl-color-text--primary-contrast mdl-typography--font-regular">
                <i class="viv-logo icon-viveka-swan"></i> {{title}}
            </a>
        </h2>


        <button id="menu-tests" class="mdl-button mdl-js-button mdl-button--icon">
             <span class="mdl-color-text--primary-contrast"><i class="icon-apps"></i></span>
        </button>
        <nav class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="menu-tests">
            {{#each testCases}}
                {{#if name}}
                    <a class="mdl-menu__item" href="#{{textId}}">{{name}}</a>
                {{/if}}
                {{#if divider}}
                    <span class="divider"></span>
                {{/if}}
            {{/each}}
        </nav>

        <div class="mdl-layout-spacer"></div>

        <button id="menu-views" class="mdl-button mdl-js-button mdl-button--icon">
             <span class="mdl-color-text--primary-contrast"><i class="icon-view_quilt"></i></span>
        </button>
        <nav class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="menu-views">
            {{#each views}}
            <a class="view-selector mdl-menu__item{{#if active}} active{{/if}}" href="#{{id}}">{{name}}</a>
            {{/each}}
        </nav>

    </div>
