<h3>{{name}}</h3>
<div class="test-config mdl-card mdl-shadow--2dp">
    <div>
        {{url}}
        {{browserWidth}}
        {{browserHeight}}
        {{browser}}
        {{created}}
    </div>
</div>
