<h3>{{name}}</h3>
<p class="details">
    <i class="icon icon-public mdl-color-text--grey"></i> {{config.url.href }}
    <i class="icon icon-desktop_windows mdl-color-text--grey"></i> {{config.browserWidth}} <i class="icon-close"></i> {{config.browserHeight}}
    <i class="icon icon-{{config.browser}} mdl-color-text--grey"></i> {{config.browser}}
</p>
